                                          /*Общие стили*/
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.body {
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #53565A;
}
                                          /*прячем заголовок*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
                                          /*фон*/
.bg {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  z-index: -1;
}
.bg__image {
  position: absolute;
  top: 218px;
  right: 6px;
  width: 903px;
  height: 735px;
  background: no-repeat right/contain url(../img/taking_notes.svg);
}
                                          /*Остальные стили*/
.wrapper {
  max-width: 1440px;
  padding: 20px 40px 0;
  margin: 0 auto;
}
.content {
  max-width: 760px;
}
.header {
  display: flex;
  margin-bottom: 33px;
}
.logo {
  width: 174px;
  height: 44px;
  margin-left: -20px;
  margin-right: 20px;
  background: no-repeat left/contain url(../img/logo.svg);
}
.search {
  flex-grow: 1;
  height: 40px;
  padding: 9px 10px 10px 15px;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
  border: 1px solid #E2E2E2;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
  transition: opacity 1s;
}
.search::placeholder {
  font-weight: 500;
  color: #000;
  opacity: 0.4;
}
.search:disabled {
  opacity: 0.5;
  transition: opacity 1s;
}
.sorting {
  display: flex;
  margin-bottom: 20px;
  border-top: 1px solid #E2E2E2;
  list-style-type: none;
}
.type {
  width: 175px;
  padding-top: 20px;
  font-weight: 900;
  opacity: 0.5;
  text-align: center;
  border-top: 4px solid rgba(255, 255, 255, 0);
}
.type:hover {
  cursor: pointer;
}
.type--selected {
  border-top: 4px solid #2F80ED;
  opacity: 1;
}
.input-task-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.label {
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 15px;
  color: #706E6B;
}
.new-task {
  display: block;
  padding: 16px 20px;
  margin-bottom: 11px;
  width: 100%;
  height: 90px;
  border: 1px solid #DDDBDA;
  border-radius: 4px;
  outline: none;
}
.search:focus,
.new-task:focus {
  border-color: rgba(47, 128, 237, 0.8);
}
.new-task::placeholder {
  opacity: 0;
}
.new-task--hidden {
  display: none;
}
.btn-add-task {
  align-self: flex-end;
  width: 190px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  background: #2F80ED;
  border: none;
  cursor: pointer;
}
.task-list {
  list-style-type: none;
}
.task {
  width: 100%;
  height: 110px;
  padding: 11px 12px 11px 23px;
  margin-bottom: 16px;
  background-color: #FFF;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(47, 128, 237, 0);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
[hidden] {
  display: none;
}
.task__text {
  width: 444px;
  height: 78px;
  padding: 5px;
  word-wrap: break-word;
  overflow: auto;
  align-items: center;
}
.task__text--completed {
  text-decoration: line-through;
}
.task__text--important {
  font-weight: bold;
}
.task__text--important::before {
  content: '\2606  ';
  font-size: 30px;
  vertical-align: text-top;
}
.task__btns-wrapper {
  width: 244px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.task__btn-important,
.task__btn-del {
  opacity: 0;
  border: none;
  cursor: pointer;
}
.task__btn-important {
  right: 73px;
  width: 183px;
  height: 36px;
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}
.task__btn-important--false {
  background: #27AE60;
}
.task__btn-important--true {
  background: #C2C2C2;
}
.task__btn-del {
  width: 40px;
  height: 40px;
  background: no-repeat center/contain url(../img/delete.svg);
  margin-left: auto;
}
.task:hover .task__btn-important,
.task:hover .task__btn-del {
  opacity: 1;
}
.task:hover {
  border: 1px solid rgba(47, 128, 237, 0.5);
  box-shadow: 0px 6px 20px rgba(47, 128, 237, 0.7);
}
                                          /*Адаптив*/
@media (pointer: coarse){ /*Mobile: делаем видимыми кнопки в задачах*/
  .task__btn-important,
  .task__btn-del {
    opacity: 1;
  }
}
@media (pointer: coarse) and
        (orientation: landscape) and
        (max-width: 1366px) {/*big tablets*/
  .bg__image {
    position: fixed;
    top: 20vmin;
    height: 74vmin;
  }
}
@media (pointer: coarse) and
        (orientation: portrait) and
        (max-height: 1366px) {
  .bg__image {
    position: fixed;
    top: 45vmin;
    width: 97vmin;
    height: 77vmin;
  }
}
@media (pointer: coarse) and
        (orientation: landscape) and
        (max-width: 1024px) {/*mid tablets*/
  .bg__image {
    top: 30vmin;
    height: 60vmin;
  }
  .task__btns-wrapper {
    width: 221px;
  }
  .task__btn-important {
    width: 160px;
  }
}
@media (pointer: coarse) and
        (max-width: 768px),
        (max-height: 480px){/*iPad portrait and other tablets*/
  .bg__image {
    top: 45vmin;
    width: 97vmin;
    height: 77vmin;
  }
  .wrapper {
    padding: 2% 4%;
  }
  .header {
    flex-direction: column;
    margin-bottom: 12px;
  }
  .logo {
    margin: 0 0 12px 0;
    align-self: center;
  }
  .search {
    height: 30px;
    padding: 8px 8px 8px 12px;
    font-size: 12px;
  }
  .sorting {
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .type {
    padding-top: 12px;
  }
  .new-task {
    height: 70px;
  }
  .label {
    display: none;
  }
  .new-task::placeholder {
    opacity: 1;
    font-size: 12px;
  }
  .btn-wrapper {
    margin-bottom: 12px;
  }
  .btn-add-task {
    width: 170px;
  }
  .task {
    flex-direction: column;
    align-items: flex-end;
  }
  .task__text {
    width: 100%;
    font-size: 14px;
  }
  .task__btns-wrapper {
    width: 190px;
  }
  .task__btn-important {
    width: 140px;
    height: 32px;
    border-radius: 16px;
    padding: 8px;
    font-size: 12px;
  }
  .task__btn-del {
    width: 34px;
    height: 34px;
  }
}
@media (pointer: coarse) and
        (orientation: landscape) and
        (max-width: 768px) {/*other tablets*/
  .bg__image {
    top: 30vmin;
    left: 0;
    width: 97vmin;
    height: 60vmin;
  }
}
@media (pointer: coarse) and
        (orientation: landscape) and
        (max-height: 480px) {/*Phones*/
  .bg__image {
    top: 30vmin;
    left: 100px;
    width: 75vmin;
    height: 60vmin;
  }
  .header {
    flex-direction: row;
    margin-bottom: 8px;
  }
  .logo {
    height: 38px;
    margin: 0;
  }
  .sorting {
    margin-bottom: 16px;
  }
  .input-task-wrapper {
    flex-direction: row;
    margin-bottom: 10px;
  }
  .new-task {
    flex-grow: 1;
    height: 60px;
    font-size: 14px;
    margin-right: 16px;
  }
  .btn-add-task {
    align-self: flex-start;
    width: 100px;
    height: 60px;
    border-radius: 4px;
  }
  .task {
    height: 70px;
    flex-direction: row;
    align-items: flex-start;
  }
  .task__text {
    width: 55vw;
    height: 12vh;
}
  .task__btns-wrapper {
    width: 190px;
  }
}
@media (pointer: coarse) and
        (orientation: portrait) and
        (max-width: 480px) {
  .bg__image {
    top: 45vh;
  }
  .logo {
    height: 38px;
    background: no-repeat center/contain url(../img/logo.svg);
  }
  .new-task {
    padding: 10px 14px;
    font-size: 14px;
  }
}
                              /*Desktop: мониторы с разрешением до 1600x900*/
@media (hover) and
        (max-width: 1600px) and
        (max-height: 900px) {
  .bg__image {
    top: 25vmin;
    height: 65vmin;
    right: 5vw;
  }
}